body{

    background: #5461ac;
    color: white;
    font-size: 22pt;
}
section{

    background: rgba(245, 245, 245, 0);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
header{

    background: #677aaeba;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#inf{

    background: rgba(177, 177, 177, 0);
    width: auto;
    height: auto;
    transition: .4s;
    display: none;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* ==================================== */
h1, h2,h3{
    text-align: center;
}

input{

    background: white;
    border: none;
    width: auto;
    height: 30px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    text-align: center;
}
button{

    background: #4792ca;
    color: white;
    width: auto;
    height: 50px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover{

    background: #3573a3;
}
#btnClean{

    background: #ca4747;
}
#btnClean:hover{

    background: #a33535;
}